.city {
    position: relative;  
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    text-align: center;
    margin-top: -1vh;
}

.current-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current-summary .temperature {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    margin-top: -14vh;
}

.current-summary .temperature .black{
    color: rgba(0, 0, 0);
}

.current-summary .temperature .white{
    color: rgba(250, 246, 246, 0.83);
}

.current-summary .weather {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    margin-top: -15vh;
}

.current-summary .weather .black{
    color: rgba(0, 0, 0);
}
.current-summary .weather .white{
    color:rgba(250, 246, 246, 0.83);
}

.current-summary .humidity {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    margin-top: -15vh;
}

.current-summary .humidity .humidity-icon{
    width: 7vh;
    margin-right: 1vh;
}

.current-summary .humidity .black{
    color: rgba(0, 0, 0);
}
.current-summary .humidity .white{
    color: rgba(250, 246, 246, 0.83);
}

.white {
    color: rgba(250, 255, 255);
}

.black {
    color: rgba(0, 0, 0);
}

.Loading{
    text-align: center;
    color: rgba(250, 246, 246, 0.83);
}