.forecast-item {
    border-radius: 10px;
    border: 1px solid black;
    background: rgba(229, 229, 229, 0.3);
    box-sizing: border-box;
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
    width: 291px;
    height: 330px;
}

.forecast-list {
    display: flex;
    justify-content: space-around;
    margin-top: -24vh;
}

.forecast-item .date{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color:  rgba(0, 0, 0);
    text-align: center;
    margin-top: 1vh;
}

.forecast-item .humidity {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 9vh;
    color: rgb(0, 0, 0);
    margin-top: -7vh;
    margin-left: 4vh;
    margin-right: 2vh;
    text-align: right;
}

.forecast-item .humidity .humidity-icon{
    width: 4vh;
    margin-right: 1vh;
}

.forecast-item .humidity .black{
    color: rgba(0, 0, 0);
}

.forecast-item .humidity .white{
    color: rgba(250, 246, 246);
}

.forecast-item .max-temperature {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 9vh;
    color:  rgba(0, 0, 0);
    margin-top: -6vh;
    margin-left: 4vh;
}

.forecast-item .max-temperature .black{
    color: rgba(0, 0, 0);
}

.forecast-item .max-temperature .white{
    color: rgba(250, 246, 246);
}

.forecast-item .min-temperature {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    font-stretch: ultra-condensed;
    line-height: 9vh;
    color:  rgba(0, 0, 0);
    margin-top: -8vh;
    margin-left: 4vh;
}

.forecast-item .min-temperature .black{
    color: rgba(0, 0, 0);
}

.forecast-item .min-temperature .white{
    color: rgba(250, 246, 246);
}

.forecast-item .weather-forecast {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 5vh;
    color: rgba(0, 0, 0);
    text-align: center;
    margin-top: 2vforecast-item h;
    text-transform: capitalize;
}

.forecast-item .weather-forecast .black{
    color: rgba(0, 0, 0);
}

.forecast-item .weather-forecast .white{
    color:rgba(250, 246, 246);
}


.Loading{
    text-align: center;
    color: rgba(250, 246, 246);
}

/* img .Rain {
    background-image: url('../Images/rain.jpg');
    height: 10%;
    Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  } */