.App {
  min-height: 100vh;  
  background: #FFFFFF;
}

.logo {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 5vh;
  top: 1vh;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  background: #FEF8F8;
  border-radius: 35.5px;
  outline: none;
}

.search-btn {
  border: none;
  margin-left: -40px;
  padding: 10px 0px; 
  cursor: pointer;
  background: #FEF8F8;
}

.cloud {
  background-image: url('./Images/clouds.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.snow {
  background-image: url('./Images/snow.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clear-sky {
  background-image: url('./Images/clear.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mist {
  background-image: url('./Images/mist.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rain {
  background-image: url('./Images/rain.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.thunder {
  background-image: url('./Images/thunderstorm.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}